extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
  +alertError(5000)
  +alert(5000)
  .container.mt-5
    .row.justify-content-center
      .col-lg-8
        .card.shadow-lg.rounded
          .card-header.bg-gradient-primary-to-secondary.py-4.mb-4.rounded.shadow
            h2.mb-0.text-primary.text-center.font-weight-bold(style="text-shadow:2px 2px 8px #aaa;letter-spacing:2px;") 
              i.fas.fa-list-alt.mr-2
              | Sửa vai trò

    // Hiển thị thông báo lỗi
    if messages && messages.error
      .alert.alert-danger.alert-dismissible.fade.show(role="alert")
        span= messages.error
        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")

    // Hiển thị thông báo thành công
    if messages && messages.success
      .alert.alert-success.alert-dismissible.fade.show(role="alert")
        span= messages.success
        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")

    .row.justify-content-center
      .col-md-8.col-lg-7
        form(action=`${prefixAdmin}/roles/edit/${record.id}?_method=PATCH`,  method="post")
          .card.shadow-lg.rounded-4.p-4.mb-4.bg-light
            .card-body
              .row.g-3
                .col-12
                  .form-group
                    label.fw-semibold(for="title") Tiêu đề
                    input(type="text", class="form-control", id="title", name="title",required, value=record.title)
                .col-md-6
                  .form-group
                     label.fw-semibold(for="desc") Mô tả
                     input(type="text", class="form-control", id="desc", name="description", minlength="5",required, value=record.description)
                .col-12
                  .form-group.mt-4.d-flex.justify-content-between
                    button(type="submit", class="btn btn-primary btn-lg px-5") Cập nhật
                    a(href=`${prefixAdmin}/roles`, class="btn btn-secondary btn-lg px-5") Hủy