extends ../../layouts/default.pug

block main
  .bg-gradient-primary-to-secondary.py-4.mb-4.rounded.shadow
    h1.mb-0.text-primary.text-center.font-weight-bold(style="text-shadow:2px 2px 8px #aaa;letter-spacing:2px;") 
      i.fas.fa-list-alt.mr-2
      | Nhóm quyền
  .card.mb-3.shadow-sm
   

    .card-body.p-4
      .row.mb-4
        .col-md-8
        .col-md-4.text-right
          a(
            href=`${prefixAdmin}/roles/create`
            class="btn btn-primary btn-lg px-5"
          )
            i.fas.fa-plus.mr-2
            | Thêm mới

      .table-responsive
        table(
          class="table table-striped table-bordered table-hover"
        )
          thead
            tr.bg-light
              th.text-center(width="5%") STT
              th(width="20%") Tên nhóm quyền
              th Mô tả
              th.text-center(width="20%") Hành động
          tbody
            if(records.length>0)
              each item, index in records
                tr
                  td.text-center #{index+1}
                  td #{item.title}
                  td #{item.description}
                  td.text-center.align-middle
                    a.btn.btn-outline-primary.btn-sm.px-2.mr-1.rounded-pill.shadow-sm(
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    )
                      i.fas.fa-info-circle.mr-1
                      | Chi tiết
                    a.btn.btn-outline-warning.btn-sm.px-2.mr-1.rounded-pill.shadow-sm(
                      href=`${prefixAdmin}/roles/edit/${item.id}`
                    )
                      i.fas.fa-edit.mr-1
                      | Sửa
                    button.btn.btn-outline-danger.btn-sm.px-2.rounded-pill.shadow-sm(
                      type="button"
                      data-id=item.id
                      data-toggle="modal"
                      data-target="#exampleModal"
                      button-delete
                      button-delete-product
                  )
                      i.fas.fa-trash.mr-1
                      | Xóa

            else
              tr
                td(colspan="4" class="text-center text-muted") Không có dữ liệu
  form(
    action=""
    method="POST"
    id="form-delete-roles"
    data-path=`${prefixAdmin}/roles/delete`
   )
  //- Thêm font awesome cho icon (nếu chưa có)
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
  script(src="/admin/js/products.js")
  script(src="/admin/js/roles.js")

  
