mixin alert(time)
 - if (messages.success)
    .message.info
      div(class= "alert alert-success"
          data-time="5000"
          show-alert
          style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; min-width: 300px; text-align: center;")
        | #{messages.success} <span close-alert>x</span>


mixin alertError(time)
 - if (messages.error)
    .message.info
      div(class= "alert alert-danger"
          data-time=time
          show-alert
          style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; min-width: 300px; text-align: center;")
        | #{messages.error} <span close-alert>x</span>